<!DOCTYPE html>
<html>

<head>
  <title>MoviesLens Search Results</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/templates.css') }}">
</head>

<body>
  <h1>Search Results for "{{ query }}"</h1>
  {% if results %}
  <div class="container">
    {% for movie in results %}
    <div class='card'>
      <img src='{{ movie["url"] }}' class='card-img'>
      <div class='card-content'>
        <h3 class='card-title'>{{ movie["caption"] }}</h3>
        <p class='card-rating'>Rating: {{ movie["rating"] }}</p>
        <a href='{{ app.config["MOVIES_LENS_URL"] }}{{ movie["movieId"] }}' class='card-link' target='_parent'>More
          details</a>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p>No movies found.</p>
  {% endif %}
</body>

</html>